// grid N stuff
.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

.columnLeft {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

.columnRight {
    order: 1;
    flex: 0 1 auto;
    align-self: center;
}
