/*

Juan Vidal - Camada 17630

*/

/* reset css */
* {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.article3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13rem;
    padding: 1em;
    margin-bottom: 30rem;
    height: 100%;

}

.article4 {
    margin-top: 13rem;
    padding: 1em;
    margin-bottom: 30rem;
    height: 100%;

}

.article4 p {
    /* margin-left: 33%; */
    margin-right : 33%;
    margin-left : 33%;
    width: 100%;
}


.carousel {
    align-items: center;
}

.carousel-indicators {
    top: 89%;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    margin-top: 260%;
}

.contenedor {
    /* background: #ccc; */
    width: 100%;
    max-width: 100%;
    margin: auto;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.contenedor::after {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    background-image: url('../media/bluetech.jpg');
    width: 100%;
    height: 100%;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    z-index: -999;
}

.contacto {
    width: 100%;
    max-width: 100%;
    margin: auto;

    font-size: .78rem;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: .52rem;
}

.contacto a {
    color: #ccc;
}

.contacto p {
    color: #ccc;
}

.contenedor3 {
    width: 100%;
    max-width: 100%;
    margin: auto;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

.columnLeft {
    order: 0;
    flex: 0 1 auto;
    align-self: center;
}

.columnRight {
    order: 1;
    flex: 0 1 auto;
    align-self: center;
}

body {
    padding-top: 159px;
}

header {
    background: #0c1313;
    opacity: 89%;
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    float: top;
    z-index: 999;

    /* Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: row;
    flex-wrap: wrap;
}

header .logo a {
    color: #fff;
    font-size: 39px;
    font-weight: 700;
}

header .logo img {
    width: 78px;
    vertical-align: top;

}

header .logo {
    color: #fff;
    text-decoration: none;
    line-height: 52px;
    text-align: center;
}

header nav ul {
    width: 100%;
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    justify-content: flex-start;
}

header nav a {
    background: #c0392b;
    color: #fff;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding: 10px;

    /* Flexbox */
    display: flex;
    flex-grow: 1;
}

header nav a:hover {
    background: #e74c3c;
}

li a,
.dropbtn {
    display: inline-block;
    display: flex;
    color: white;
    text-align: center;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    font-weight: 500;

}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.78);
    margin-left: 13px;
    z-index: 9999;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.main {
    /* background: #fff; */
    padding: 20px;

    flex: 1 1 50%;
    /* flex: 1; */
}

.main article {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.main article:nth-last-child(1) {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

section {
    padding-left: 3em;
    padding-right: 3em;
}

/* Manejo columnas */
section::after {
    content: "";
    display: table;
    clear: both;
}

h2 {
    grid-area: myHeader;
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

.articleFooter {
    grid-area: myFooter;
    min-height: 2.6rem;
}


article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-template-areas:
        "myHeader myHeader"
        ". ."
        "myFooter myFooter";

    padding: 20px;
    text-align: justify;
    background-color: #787878;
    height: auto;
    opacity: 78%;
    color: ivory;
    border-radius: 3.9px;
    margin-bottom: 2rem;
    background-image: url('../media/mosaic_pattern.png');

}

article p {
    margin-right: 1.3rem;
}

article form {
    max-height: 15.7rem;
}


.article2 {
    float: left;
    padding: 26px;
    width: 100%;
    background-color: #787878;
    height: auto;
    opacity: 67%;
    color: ivory;
    border-radius: 3.9px;
    box-shadow: black;
    background-image: url('../media/mosaic_pattern.png');

}



footer {
    background: #0c1313;
    width: 100%;
    padding: 26px;
    opacity: 89%;
    padding: .13rem;
    text-align: center;
    color: white;
    max-width: 100%;
    margin: auto;
    font-size: .78em;

    /* Flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer .col {
    flex: 1;
}

.footerLogo img {
    height: 1.78em;
    background-repeat: no-repeat;
    width: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.imgCoder {
    text-align: initial;
}

.colPoweredBy {
    font-style: italic;
    text-align: end;
    margin-top: .52em;
}

.footerLogo {
    padding-top: .26em;
    padding-left: 0px;
    padding-bottom: 1em;
}

h1 {
    background: #8E2DE2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4A00E0, #8E2DE2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 189px;
    font-weight: 500;
}

/* Estilos de tabla */
table.tablaBasica {
    border: 3 px solid #000000;
    width: 100%;
    height: 100%;
    text-align: center;
}

table.tablaBasica td,
table.tablaBasica th {
    padding: 5px 3px;
}

table.tablaBasica tbody td {
    font-size: 13px;
    color: black;
    font-weight: bold;
    background-color: white;
    opacity: 52%;
}

table.tablaBasica thead {
    background: #3E74DD;
    background: -moz - linear - gradient(top, #6e97e5 0%, #5182e0 66%, #3E74DD 100%);
    background: -webkit-linear-gradient(top, #6e97e5 0%, #5182e0 66%, #3E74DD 100%);
    background: linear - gradient(to bottom, #6e97e5 0%, #5182e0 66%, #3E74DD 100%);
}

table.tablaBasica thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
}

table.tablaBasica tfoot {
    font-weight: bold;
    color: #011f00;
    background: #25b900;
    background: -moz - linear - gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit - linear - gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear - gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    font-weight: 900;
}

button {
    color: black;
    border-radius: 13px;
    margin-bottom: 20em;

}

input {
    color: black;
}

textarea {
    color: black;
}

select {
    color: black;
}

.bordesRedondeados {
    border-radius: 26px;
}

.sombra {
    box-shadow: 3.9px 3.9px rgba(39, 39, 39, .52);
}

.textoPrecioTachado {
    color: red;
    font-weight: 800;
    text-decoration: line-through;
}

.textoPrecioSinDesc {
    color: red;
    font-weight: 800;
}

.textoContacto {
    margin-top: 1.3em;
    font-size: .89em;
}

.coderColumn {
    padding-left: 39%;
}



@media screen and (max-width: 812px) {
    .contenedor {
        flex-direction: column;
        margin-left: 0;
    }

    .contacto {
        flex-direction: column;
        margin-left: 0;
    }

    .contenedor3 {
        flex-direction: column;
        margin-left: 0;
    }

    header {
        flex-direction: column;
        padding: 0;
    }

    header nav {
        width: 100%;
    }

}

@media screen and (max-width: 600px) {

    footer {
        justify-content: space-around;
    }

    article h2 {
        max-height: 2.6rem;
    }

    article {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 0px 0px;
        grid-template-areas:
            "myHeader "
            "."
            "myFooter ";

        text-align: justify;
        background-color: #787878;
        opacity: 78%;
        color: ivory;
        border-radius: 3.9px;
        background-image: url('../media/mosaic_pattern.png');

    }


}

/* Animacion - Bubbles */

body {
    color: #333;
    font: 100% Lato, Arial, Sans Serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#background-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@-moz-keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -100%;
    }
}

@-webkit-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@-moz-keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

/* ANIMATIONS */

.x1 {
    -webkit-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 25s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: -5%;
    top: 5%;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x2 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 4s ease-in-out infinite alternate;

    left: 5%;
    top: 80%;

    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x3 {
    -webkit-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 28s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 10%;
    top: 40%;

    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    transform: scale(0.7);
}

.x4 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

    left: 20%;
    top: 0;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x5 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

    left: 30%;
    top: 50%;

    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x6 {
    -webkit-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 21s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 50%;
    top: 0;

    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
}

.x7 {
    -webkit-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 20s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 65%;
    top: 70%;

    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    -moz-animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;
    animation: animateBubble 22s linear infinite, sideWays 3s ease-in-out infinite alternate;

    left: 80%;
    top: 10%;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x9 {
    -webkit-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;
    animation: animateBubble 29s linear infinite, sideWays 4s ease-in-out infinite alternate;

    left: 90%;
    top: 50%;

    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
}

.x10 {
    -webkit-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;
    animation: animateBubble 26s linear infinite, sideWays 2s ease-in-out infinite alternate;

    left: 80%;
    top: 80%;

    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

/* OBJECTS */

.bubble {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

    height: 200px;
    position: absolute;
    width: 200px;
    opacity: 13%;
}

.bubble:after {
    background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(70%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    /* IE10+ */
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

    content: "";
    height: 180px;
    left: 10px;
    position: absolute;
    width: 180px;
}

.progress {
    margin-left: 33%;
    margin-bottom:  13%;
    width: 130%;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}